.cobblestoneBackground{
    background-image: url("./data/cobblestoneBackground.png");
    background-size: 10%;
}

.centerTopLinks{
    display: block;
    text-align: center;
    padding-top: 10px;
}

.paragrafoBrancoBloco{
    background-color: white;
    box-shadow: 10px 10px gray;
    padding-top: 3px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragrafoBrancoTexto{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabelaFatos{
    width: 100%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 3px solid black;
}

.tituloTabelaFatos{
    background-color: rgb(185, 185, 185);
    height: 50px;
}

.dadosTabelaFatos{
    background-color: lightgrey;
    height: 30px;
}

.blocoImagens{
    display: block;
    text-align: center;
}

a:visited.navigationLinks{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
a:link.navigationLinks{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    
}
a:hover.navigationLinks{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.tituloBranco{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
}

.tituloPreto{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}