*{
    margin: 0%;
    padding: 0%;
}
body{
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: rgb(46, 175, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sortearButton{
    background-color: #2f4eff;
    color: white;   
    font-weight: bolder;
    font-size: 1.15em;
    border: 1px #282828 solid;
    padding: 10px 10px;
    cursor: pointer;
    margin: 3px 0px;
}
.sortearButton:hover{
    background-color: #4f69ff;
    color: white;   
    font-weight: bolder;
    font-size: 1.15em;
    border: 1px #282828 solid;
    padding: 10px 10px;
    cursor: pointer;
    margin: 3px 0px;
}
.btn-group{
    background-color: rgba(255, 255, 255, 0.13);
    display: block;
    padding: 1% 0%;
    margin-top: 3%;
}
.btn-group button{
    background-color: #2f4eff;
    color: white;   
    font-weight: bolder;
    font-size: 1.15em;
    border: 1px #282828 solid;
    width: 75px;
    padding: 10px 0px;
    cursor: pointer;
    margin: 3px 0px;
    
}
.btn-group :hover{
    background-color: #4f69ff;
    color: white;   
    font-weight: bolder;
    font-size: 1.15em;
    border: 1px #d0d1ff solid;
    width: 75px;
    padding: 10px 0px;
    cursor: pointer;
    margin: 3px 0px;
}